<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <a href="https://www.mountassir.ga/" class="logo">
        <img src="/images/logo.png" alt="">
    </a>
    <div class="links">
        <a href="/">Home</a>
        <a href="/posts/">Posts</a>
    </div>
</header>

<main>
    {{ block "main" . }}
    {{ end }}
</main> 



<footer>
    &copy; 2022 {{ .Site.Title}}
</footer>
</body>
</html>